.footerWrapper {
  width: 100%;
  padding: 0 3%;
}

.footerInnerPart {
  width: 100%;
  background-color: #191a23;
  height: 500px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.footerNav {
  display: flex;
  color: white;
  padding: 2% 3%;
  justify-content: space-between;
}

.footerNav div {
  display: flex;
  gap: 20px;
}

.logo {
  color: whitesmoke;
}

.footerNav {
  border-bottom: 2px solid white;
}
